.no-pulsado {
    background-color: white;
}

.pulsado-no-acertado {
    background-color: red;
}

.pulsado-acertado {
    background-color: green;
}

#botonera {
    text-align: center;
}

#palabra {
    letter-spacing: 1em;
    font-size: 2em;
    text-align: center;
}